body{
  background: #52637A;
}

.App {
  text-align: center;
  color: #E8E8E8;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

select{
  color: #E8E8E8;
  border-radius: 3px;
  background: #47566B;
  /* border-color: #EEEEEE; */
}

select[disabled]{
  color: rgb(147, 164, 180);
}