body{
  background: #52637A;
}



.App {
  text-align: center;
  color: #E8E8E8;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button{
  border: 1px solid rgba(191, 216, 227, .8);
  border-radius: 5px;
  color: #fff;
  background-color: rgb(27, 97, 128);
  font-size: 110%;
}

select{
  color: #F8F8F8;
  border-radius: 3px;
  background: #62738A;
  /* border-color: #EEEEEE; */
}

select[disabled]{
  color: rgb(147, 164, 180);
}