.rules{
  margin: auto;
  max-width: 600px;
}

.rules h2{
  text-decoration: underline;
}

.rules h2,
.rules h3,
.rules h4{
  color: #C2DBF6;
}

.rank-container{
  display: inline-block;
}

.ranks{
  display: grid;
  grid-template-columns: repeat(2, max-content );
  grid-column-gap: .5em;
}

.ranks--xp{
  text-align: right;
}
