.advance-list{
  display: inline-block;
  width: auto;
  margin: auto;
  text-align: left;
}

.advance-list ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advance-list li{
  width: 200px;
  margin: 5px;
  padding: 10px;
}

.advance-item--feedback{
  margin-top: 10px;
  text-align: right;
}

.advance-field{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: .3em;
  grid-column-gap: .2em;
}

.advance-field label{
  text-align: right;
}

.advance-list li{
  border: 1px solid black;
  border-radius: 4px;
  background: #47566B;
}

.advance-list li.invalid-advance{
  border-color: darkred;
}

.advance-item--value{
  display:inline-block;
}