.character{
  display: inline-block;
  margin: auto;
  max-width: 800px;
}

.stat-section{
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(51, 61, 77);
}

.stat-section h2{
  margin: 3px;
  width: auto;
}

.statbox{
  display: inline-block;
  border: 1px solid rgb(51, 61, 77);
  margin: auto;
  padding: 5px 20px;
  background: #47566B;
  text-align: left;
}

.statbox h3{
  margin-top: 0;
}

.statbox-list{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, max-content max-content );
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: .5em;
  grid-column-gap: 0;
}

@media (max-width: 745px){
  .statbox-list{
    grid-template-columns: repeat(2, auto );
  }
}

.stat{
  border-bottom: 1px solid rgb(51, 61, 77);
}

.stat-name{
  text-align: right;
}

.stat-value{
  padding-left: 5px;
  padding-right: 20px;
  color: rgb(202, 227, 255);
}

.display-stats{
  margin: 10px;
}

.character-info{
  margin: 10px;
}

.point-buy{
  margin-top: 20px;
}

.display-edges{
  margin: 10px;
}