.character{
  display: inline-block;
  margin: auto;
  width: 800px;
  border: 1px solid green;
}

.character-info{
  margin-bottom: 10px;
}

.stat-section h2{
  margin: 3px;
}

.statbox{
  display: inline-block;
  border: 1px solid black;
  width: auto;
  margin: auto;
  padding: 5px 20px;
  text-align: left;
}

.statbox h3{
  margin-top: 0;
}

.statbox ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 0;
  grid-column-gap: .2em;
}


.stat-name{
  text-align: right;
  border: 1px solid darkblue;
  color: blue;
  /* white-space: nowrap; */
}

.stat-value{
  border: 1px solid darkred;
  color: red;
}