/* .display-skills{
  display: inline-block;
  border: 1px solid black;
  width: auto;
  margin: auto;
  text-align: left;
} */

.edges ul{
  list-style-type: none;
  padding: 0;
}

.edge-item{
  margin: auto;
  margin-bottom: 20px;
  max-width: 400px;
  min-width: 200px;
  padding: 10px;
  border: 2px solid rgb(51, 61, 77);
  border-radius: 4px;
  background-color: #47566B;
  text-align: left;
}

.edge-item h3{
  margin-top: 0;
}

.edge-item p{
  margin-bottom: 0;
}