.register-form-container{
  margin: auto;
  width: auto;
  display: inline-block;
}

.register {
  background-color: #62738A;
  border: 2px solid rgb(51, 61, 77);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.register > div {
  padding: 5px 0;
}

.register input[type="submit"] {
  /* border: 1px solid rgba(191, 216, 227, .8);
  border-radius: 5px;
  color: #fff;
  background-color: rgb(54, 134, 169);
  font-size: 110%; */
}

.register input[type="text"],
.register input[type="password"] {
  border: 1px solid rgba(191, 216, 227, .8);
  padding: 5px;
  border-radius: 5px;
  font-size: 110%;
  width: 80%;
}

.actions a {
  font-size: 80%;
}